* {
  box-sizing: border-box;
}

.logo {
  text-decoration: none;
  color: var(--color-blk);
  font-size: var(--fs-m);
  font-family: "Dancing Script", cursive;
  background-color: var(--primary-color-bg);
}

.nav-head-home {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: var(--primary-color-bg);
  scrollbar-width: none;
  overflow-x: hidden;
}
.nav-head-home::-webkit-scrollbar {
  display: none;
}

.nav-head {
  width: 100%;
  background-color: var(--primary-color-bg);
  scrollbar-width: none;
}

.nav-head::-webkit-scrollbar {
  display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Gideon+Roman&family=Nunito:wght@200&display=swap");

.nav-link {
  text-align: center;
  padding-right: 0.2rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--black);
  width: max-content;
  margin: auto;
}

.nav-link:hover,
.logout-btn:hover {
  transform: scale(1.05);
  border-radius: 0.3rem;
  border-bottom: 2px solid var(--primary-color);
  border-right: 2px solid;
}

.logout-btn {
  background-color: var(--primary-color-bg);
  color: var(--color-blk);
  border-radius: 0.2rem;
  border: 2px solid transparent;
  padding: var(--spacing-2xs);
}

.nav-logo-div {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
