@import url(https://halloui.netlify.app/halloUi-share.css);

@import url(variable.css);

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Gideon+Roman&family=Nunito:wght@200&display=swap");

body {
  font-family: "Nunito", sans-serif;
  margin: unset;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin-bottom: auto;
}

.mg-btm {
  margin-bottom: auto;
}

.top-fit {
  object-position: top;
}

.center-fit {
  object-position: center;
}

.bottom-fit {
  object-position: bottom;
}

.spc-btwn {
  justify-content: space-between;
}

/* card class to implement the hover functionality */
.card-scale:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

.menu-btn {
  display: none;
}

/* Button design which have been used througout the application */
.cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  width: 90%;
  margin-top: var(--spacing-xs);
  padding: var(--spacing-3xs);
  border: 4px double transparent;
  background-color: var(--primary-color-bg);
  border-radius: 0.1rem;
}

.cart-btn:hover {
  border: 4px double var(--primary-color);
}
.cart-btn:disabled {
  border: none;
}

.text-link {
  color: var(--primary-color);
  border-bottom: 2px solid transparent;
}

.text-link:hover {
  transform: scale(1.1);
  border-bottom: 2px solid var(--primary-color);
  transition: transform 0.1s ease;
}

.full-width {
  width: 100%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.parting {
  justify-content: space-evenly;
  padding: var(--spacing-l);
  background-color: var(--primary-color-bg);
}
.footer-link {
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.footer-link:hover {
  border-bottom: 2px solid var(--primary-color);
}
/* media queries for header and home page */
@media screen and (max-width: 480px) {
  body {
    font-size: small;
    display: flex;
    flex-direction: column;
  }

  .logo {
    font-size: var(--fs-sm);
  }

  .carousel {
    height: 40vh;
    width: 100%;
  }

  .slides {
    height: 40vh;
  }

  .landscape-overcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-xl);
    width: 100%;
    margin-left: unset;
  }
  .overlay-solid-card {
    font-size: var(--fs-sm);
    height: 15%;
    width: 50%;
    padding: var(--spacing-sm);
    justify-self: center;
    position: unset;
    align-self: center;
  }

  .menu-btn {
    display: inline;
  }
  .nav-head {
    overflow: visible;
    flex-direction: column;
  }

  .nav-links {
    z-index: 1;
    width: 100vw;
    display: block;
    border-radius: 0.2rem;
    background-color: var(--primary-color);
    padding: var(--spacing-sm);
  }

  .nav-links-hidden {
    display: none;
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navBlock {
    display: block;
  }

  .search {
    justify-content: space-between;
    margin-inline: 1rem;
  }

  .search-bar {
    width: 100%;
  }

  main {
    margin-bottom: auto;
  }

  .cart-btn {
    margin-top: var(--spacing-3xs);
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .overlay-solid-card {
    height: 20%;
    width: 40%;
  }
}
